<link rel="stylesheet" type="text/css" href="/public/css/profile.css">
<%- include ("includes/header") %>
<div class="container">
    <div class="col-lg-7 offset-md-2">
        <div class="row padxxx">
            <div class="card">
                <div class="card-header" style="padding: 10px !important; background-color: #fff;">
                    <a href="#" class="nav-link pr-0 leading-none">
                        <span class="avatar" style="background-image: url(/public/img/dalat.jpeg)"></span>
                        <span class="col-md-8">
                            <span class="name" name="name" class="text-default">
                                <% if(post.uploader){ %>
                                    <%= post.uploader.name %>
                                  <% } else{ %>  
                                    <%= post.user.name %>
                                 <% } %>
                            </span>
                            <small id="publish" class="text-muted d-block mt-1">

                            </small>
                        </span>
                    </a>
                </div>
                
                <img class="card-img-top" src="http://localhost:3000/<%= post.image%>">
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="row">
                            <span class="user">
                                <% if(post.uploader){ %>
                                    <%= post.caption %>
                                  <% } else{ %>  
                                    <%= post.user.name %>
                                 <% } %>
                            </span>
                            <span class="col-lg-12"><%= post.content%></span>
                        </div>
                    </div>
                </div>
                <div id="create-like">

                </div>
                <div class="card-footer">
                    <div id='post-comments-<%= post._id %>'></div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="post-data" value="<%= JSON.stringify(post); %>">

<script>
    var isPostDetail = true;

    function showPostDetails() {
        var post = document.getElementById("post-data").value;
        post = JSON.parse(post);
        console.log(post);
        var html="";
        var createdAt = new Date(post.createdAt);
        var date = createdAt.getDate() + "";
        date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
        html+="Published: " + date;
        document.getElementById("publish").innerHTML = html;
        document.getElementById("create-like").innerHTML = createLikesSection(post);
        document.getElementById("post-comments-" + post._id).innerHTML = createCommentsSection(post);
    }
</script>

<%- include ("includes/footer") %>