<%- include ("includes/header") %>
<link rel="stylesheet" type="text/css" href="/public/css/profile.css">
<div class="container hidden-xs container-custom">
    <div class="col-md-12 form-group" style="padding-top: 10px;">
        <span class="title">Trang chủ/ Trang cá nhân</span>
    </div>
    <div class="row">
        <div class="col-md-10">
            <a href="" class="nav-link pr-0 leading-none">
                <span class="avatar" style="background-image: url(/public/img/dalat.jpeg)"></span>
                <span class="col-md-8">
                    <span name="user-name" class="user-name text-default">
                        <%= user.name %>
                    </span>
                    <div class="row">
                        <small class="text-muted col-md-6 col-lg-4 d-block mt-1">0 đang theo dõi</small>
                        <small class="text-muted col-md-6 col-lg-4 d-block mt-1">0 người theo dõi</small>
                    </div>
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <ul class="col-md-12 nav" id="myTab" role="tablist" style="justify-content: center;">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#info" role="tab" aria-controls="home" aria-selected="true">Info</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#review" role="tab" aria-controls="home" aria-selected="false">Review</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#image" role="tab" aria-controls="profile" aria-selected="false">Hình ảnh</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#video" role="tab" aria-controls="contact" aria-selected="false">Video</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
            <div class="container hidden-xs container-custom">
                <div class="col-md-12 col-lg-7 offset-md-2">
                    <input type="hidden" id="userid" value="<%= user.username %>">
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>Full name</span>
                        </label>
                        <div class="col-md-8">
                            <span><%= user.name %></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>Email</span>
                        </label>
                        <div class="col-md-8">
                            <span><%= user.email %></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>Ngày sinh</span>
                        </label>
                        <div class="col-md-8">
                            <span><%= user.dob == "" ? "Chưa rõ" : user.dob %></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>Giới tính</span>
                        </label>
                        <div class="col-md-8">
                            <span><%= user.gender == "" ? "Chưa rõ" : user.gender %></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>Quốc gia</span>
                        </label>
                        <div class="col-md-8">
                            <span><%= user.country == "" ? "Chưa rõ" : user.country %></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>Mô tả</span>
                        </label>
                        <div class="col-md-8">
                            <span><%= user.aboutMe == "" ? "Chưa rõ" : user.aboutMe %></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="home-tab">
            <div class="container hidden-xs container-custom">
                <div class="col-md-12 col-lg-7 offset-md-2">
                    <div id="newsfeed">
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container-custom">
                <div class="col-md-12">
                    <div class="container">
                        <div id="img-total" class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="contact-tab">
            <div class="container-custom">
                <div class="col-md-12">
                    <div class="container">
                        <div id="video-total" class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="post-data" value="<%= JSON.stringify(user); %>">
</div>
<%- include ("includes/footer") %>
<script>
    var isUserProfile = true;

    function showUserProfile() {
        var response = document.getElementById("post-data").value;
        response = JSON.parse(response);
        console.log(response);
        var total = "";
        var video = "";
        var html= "";
        for (var a = 0; a < response.posts.length; a++) {
            var data = response.posts[a];
            html+='<div class="row padxxx">';
                        html+='<div class="card">';
                            html+='<div class="card-header">';
                                html+='<a href="#" class="nav-link pr-0 leading-none">';
                                    html+='<span class="avatar" style="background-image: url(/public/img/dalat.jpeg)"></span>';
                                    html+='<span class="col-md-8">';
                                        html+='<span class="name" name="name" class="text-default">' ;
                                        html += window.user.name;
                                        html+='</span>';
                                        var createdAt = new Date(data.createdAt);
                                        var date = createdAt.getDate() + "";
                                        date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
                                        html+='<small class="text-muted d-block mt-1">Published: ' + date + '</small>';
                                    html+='</span>'
                                html+='</a>';
                            html+='</div>';
                            if (data.image != ""){
                                html+='<a href="' + mainURL + "/post/" + data._id + '" class="media-1" data-fancybox="gallery">';
                                    html+='<img class="card-img-top" src="' + mainURL + "/" + data.image + '">'
                                html+='</a>'
                            }
                            else{

                            }
                            if(data.video != ""){
                                html+='<a href="' + mainURL + "/post/" + data._id + '" class="media-1" data-fancybox="gallery">';
                                    html+='<video width="630px" height="auto" controls>';
                                        html+='<source src="' + mainURL + "/" + data.video + '">';
                                    html+='</video>';
                                html+='</a>'
                            }
                            else{

                            }
                            html+='<div class="card-body">';
                                html+='<a style="text-decoration: none;color: #000;" href="' + mainURL + "/post/" + data._id + '" class="media-1" data-fancybox="gallery">';
                                    html+='<div class="col-lg-12">';
                                        html+='<div class="row">';
                                            html+='<span class="user">';
                                                html += data.caption;
                                            html+='</span>';
                                            html+='<span id="caption" class="description col-lg-12">';
                                                html += data.content;
                                            html+='</span>';
                                        html+='</div>';
                                    html+='</div>';
                                html+='</a>'
                            html+='</div>';
                            //
                            html+=createLikesSection(data);
                            //
                            html+='<div class="card-footer" id="post-comments-'+ data._id +'"">';
                                html+='<div class="col-md-12">';  
                                    data.comments = data.comments.reverse();
                                    for (var b = 0; b < data.comments.length; b++) {
                                        var comment = data.comments[b];

                                        html += '<div class="row">';
                                            html += '<span class="user"><a href="/">' + comment.user.name + '</a></span>';
                                            html += '<span class="description col-lg-9">' + comment.comment + '</span>';     
                                            html += '<a style="text-decoration: none;" class="col-lg-3 replycmt" href="javascript:void(0);" data-post-id="' + data._id + '" data-comment-id="' + comment._id + '" onclick="prepareToReply(this);" title="Reply">Reply</a>';

                                            html += '<ul>';
                                                comment.replies = comment.replies.reverse();
                                                for (var c = 0; c < comment.replies.length; c++) {
                                                    var reply = comment.replies[c];
                                                    html += '<li>';
                                                        html += '<span class="user"><a href="/">' + reply.user.name + '</a></span>';
                                                        html += '<span class="description col-lg-9">' + reply.reply + '</span>';
                                                    html += '</li>';
                                                }
                                            html += '</ul>';

                                        html += '</div>';
                                    }
                               
                                        // 
                                    html += '<form method="post" onsubmit="return doPostComment(this);">';
                                        html+='<div class="row">';
                                            html+='<div class="comment col-md-10">';
                                                html += '<input type="hidden" name="_id" value="' + data._id + '">';
                                                html+='<input type="text" name="comment" class="input-field" placeholder="Viết bình luận">';
                                            html+='</div>';
                                            html+='<div class="col-md-2">';
                                                html += '<button class="postcmt" type="submit">Post</button>';
                                            html+='</div>';
                                        html+='</div>';
                                    html += '</form>';
                                html+='</div>';
                            html+='</div>';
                        html+='</div>'
                    html+='</div>'
            if (data.image != ""){
                total+='<div class="form-group blog-review col-md-6 col-lg-3">';
                    total+='<a class="media-1" data-fancybox="gallery">';
                            total+='<img src="' + mainURL + "/" + data.image + '" alt="Image" style="object-fit: cover;height:160px; width:100%" class="img-fluid">';
                    total+='</a>';
                total+='</div>';
            }
            else{
                
            } 
                    
            if (data.video != "")
            {
                video+='<div class="form-group blog-review col-md-6 col-lg-3">';
                    video+='<a class="media-1" data-fancybox="gallery">';
                            video+='<video width="100%" height="auto" controls>';
                                video+='<source src="' + mainURL + "/" + data.video + '">';
                            video+='</video>';
                    video+='</a>';
                video+='</div>';
            }
            else{
                
            }
        }
        document.getElementById("newsfeed").innerHTML = html;
        document.getElementById("img-total").innerHTML = total;
        document.getElementById("video-total").innerHTML = video;
    }
</script>

<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Reply</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<form onsubmit="return doPostReply(this);">
					<input type="hidden" name="postId">
					<input type="hidden" name="commentId">
					<input type="text" class="input-field" name="reply" placeholder="Reply comment in here" required>
					<button class="button" style="float: right;" type="submit">Post</button>
				</form>
			</div>
		</div>
	</div>
</div>